export(
BA.est,
BA.plot,
BlandAltman,
Deming,
MethComp,
summary.MethComp,
subset.MethComp,
print.MethComp,
mcmc.MethComp,
trace.MethComp,
# post.Methcomp,
pairs.MethComp,
plot.MethComp,
plot.VarComp,
plotMeth,
abconv,
ass.measures,
middle, ends,
bothlines,
make.repl,
perm.repl,
sim.meth,
tab.repl,
to.wide )
# register S3 methods
S3method(plot, MethComp)
S3method(print, MethComp)
S3method(summary, MethComp)
S3method(subset, MethComp)
S3method(mcmc, MethComp)
S3method(trace, MethComp)
# S3method(post, MethComp)
S3method(pairs, MethComp)
