export(
  as.Date.cal.yr,
  as.Date.numeric,
  apc.frame,
  apc.fit,
  apc.lines,
  apc.plot,
  cal.yr,
  ccwc,
  ci.pd,
  ci.cum,
  ci.lin,
  detrend,
  float,
  print.floated,
  ex1,
  fcut,
  fcut1,
  ftrend,
  icut,
  isec,
  Lexis.diagram,
  Lexis.lines,
  Lexis,
  Life.lines,
  mh,
  ncut,
  nice,
  pctab,
  plotEst,
  pointsEst,
  projection.ip,
  linesEst,
  rateplot,
  Aplot,
  Pplot,
  Cplot,
  Relevel,
  ROC,
  tabplot,
  twoby2,
  stat.table)

# register S3 methods
S3method(print, stat.table)
