export(
  as.Date.cal.yr,
  as.Date.numeric,
  apc.frame,
  apc.fit,
  apc.plot,
  apc.lines,
   pc.points,
   pc.lines,
   pc.matpoints,
   pc.matlines,
  cal.yr,
  ccwc,
  ci.pd,
  ci.cum,
  ci.lin,
  ci.mat,    
  lls,
  clear,       
  contr.orth,
  contr.2nd,
  contr.cum,
  contr.diff,
  detrend,
  dur,
  effx,
  effx.match,
  float,
  print.floated,
  Icens,
  print.Icens,
  plotevent,
  fit.add,
  fit.mult,
  ftrend,
  Lexis.diagram,
  Lexis.lines,
  Life.lines,
                Lexis,
          merge.Lexis,
           plot.Lexis,
         points.Lexis,
          lines.Lexis,
          PY.ann.Lexis,
         subset.Lexis,
        summary.Lexis,
  print.summary.Lexis,
           splitLexis,
      transform.Lexis,
             cutLexis,
           countLexis,
          stack.Lexis,
         mstate.Lexis,
           tmat.Lexis,
          boxes.Lexis,
  entry,
  exit,
  status,
  timeBand,
  timeScales,
  breaks,
  merge.data.frame,
  tbox,
  dbox,
  fillarr,
  boxarr,
  boxes,
  PY.ann,
  mstate,
  tmat,
  mh,
  ncut,
  nice,
  pctab,
  plotEst,
  pointsEst,
  projection.ip,
  linesEst,
  rateplot,
  Aplot,
  Pplot,
  Cplot,
  Relevel,
  ROC,
  tabplot,
  twoby2,
  stat.table,
  clogistic)
# Import generic methods
importFrom( utils, stack )
# importFrom( mstate, mstate )
# register S3 methods
S3method(plot, Lexis)
S3method(points, Lexis)
S3method(lines, Lexis)
S3method(PY.ann, Lexis)
S3method(merge, Lexis)
S3method(subset, Lexis)
S3method(summary, Lexis)
S3method(print, summary.Lexis)
S3method(transform, Lexis)
S3method(stack, Lexis)
S3method(mstate, Lexis)
S3method(tmat, Lexis)
S3method(boxes, Lexis)
S3method(merge, data.frame)
S3method(print, stat.table)
S3method(print, clogistic)
S3method(coef, clogistic)
S3method(vcov, clogistic)
