export(
  apc.frame,
  apc.lines,
  cal.yr,
  ccwc,
  ci.pd,
  ci.lin,
  float,
  print.floated,
  ftrend,
  Lexis.diagram,
  Lexis.lines,
  Lexis,
  Life.lines,
  mh,
  ncut,
  nice,
  pctab,
  plotEst,
  pointsEst,
  linesEst,
  rateplot,
  Aplot,
  Pplot,
  Cplot,
  Relevel,
  ROC,
  tabplot,
  twoby2,
  stat.table)

# register S3 methods
S3method(print, stat.table)
